{% extends "base.html" %}
{% block title %}Main page{% endblock %}

{% block content %}
    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <img src="../../static/home/img/avatar.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>John Doe</h4><br>
        <hr class="w3-clear">
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div>


    <!-- End Middle Column -->
    </div>
{% endblock %}